#box {
	width: 100px;
	height: 100px;
	display: inline-block;
	/*to line things up next to each other*/
}
.box1 {
	background-color: red;
}
.box2 {
	background-color: blue;
}

.box3 {
	background-color: yellow;
}

.box4 {
	background-color: green;
}